<%= form_for(@Userideas) do |f| %>
  <% if @Userideas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@Userideas.errors.count, "error") %> prohibited this Userideas from being saved:</h2>

      <ul>
      <% @Userideas.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idea_id %><br />
    <%= f.text_field :idea_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :initiate %><br />
    <%= f.check_box :initiate %>
  </div>
  <div class="field">
    <%= f.label :follow %><br />
    <%= f.check_box :follow %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
