<p id="notice"><%= notice %></p>

<p>
  <b>Idea:</b>
  <%= @useridea.idea_id %>
</p>

<p>
  <b>User:</b>
  <%= @userideas.user_id %>
</p>

<p>
  <b>Initiate:</b>
  <%= @userideas.initiate %>
</p>

<p>
  <b>Follow:</b>
  <%= @userideas.follow %>
</p>


<%= link_to 'Edit', edit_userideas_path(@useridea) %> |
<%= link_to 'Back', userideas_path %>
